<section>
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-36">
    <div class="grid gird-cols-1 lg:grid-cols-5 gap-6 lg:gap-12">
      <img
        class="w-24 h-24 lg:w-full"
        src="/assets/integrations/spotify.svg"
        alt="spotify-icon"
        width="100%"
        height="100%"
      />
      <div class="lg:col-span-4">
        <p class="text-4xl tracking-tight font-medium text-black font-display">
          Spotify
        </p>
        <p class="text-base mt-4 text-zinc-500 max-w-xl">
          Spotify is a digital music service that gives you access to millions
          of songs.
        </p>
      </div>
    </div>
    <div class="grid gird-cols-1 lg:grid-cols-5 gap-6 lg:gap-12">
      <div>
        <div>
          <div class="mt-8">
            <a
              href="#"
              class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
              >Add to Brightlght</a
            >
          </div>
          <ul
            role="list"
            class="lg:divide-y grid-cols-2 grid lg:grid-cols-1 lg:text-left p-2 text-sm divide-gray-200">
            <li class="py-4">
              <p>Buult by</p>
              <p>Brightlight</p>
            </li>
            <li class="py-4">
              <p>Website</p>
              <p>
                <a class="text-accent-500 hover:text-black" href="#"
                  >Lexingtonthemes.com</a
                >
              </p>
            </li>
            <li class="py-4">
              <p>Cateogry</p>
              <p>
                <a class="text-accent-500 hover:text-black" href="#">Media</a
                >,<a class="text-accent-500 hover:text-black" href="#">Music</a>
              </p>
            </li>
            <li class="py-4">
              <p>Docs</p>
              <p>
                <a class="text-accent-500 hover:text-black" href="#"
                  >Embed Docs</a
                >
              </p>
            </li>
            <li class="py-4">
              <p>Contact</p>
              <p>
                <a class="text-accent-500 hover:text-black" href="#">Spotify</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="lg:col-span-4">
        <img
          src="/assets/spotify.png"
          class="mt-12 rounded-2xl border shadow"
          alt="spotify-icon"
          width="100%"
          height="100%"
        />
        <div
          class="prose mx-auto mt-12 lg:mt-24 prose-blockquote:border-l-white prose-a:text-accent-500 hover:prose-a:text-black prose-headings:font-normal prose-headings:text-black prose-pre:border prose-li:marker:text-accent-500 text-zinc-500 prose-code:text-black prose-blockquote:text-black/70">
          <h2>Overview</h2>
          <p>
            The Spotify integration makes it easy to create, update, and view
            Brightlight issues and their data directly from Spotify.
            Notifications and synced threads keep colleagues in the loop on
            projects and issues.
          </p>

          <h2>How it works</h2>
          <p>
            Create Brightlight issues from Spotify by using the More actions
            menu on a Spotify message. Files and context from the root message
            will be included in the resulting window. If a default template is
            used for the team you're creating an issue in, the template's text
            will appear in the description field.
          </p>

          <p>
            Creating Brightlight issues from Spotify also allows syncing comment
            threads in both applications. This is particularly useful for
            keeping users reporting issues informed in Spotify even if they
            don't have a Brightlight account. In addition to syncing comments
            bidirectionally, the synced thread in Spotify will be updated when
            the issue is completed or cancelled.
          </p>

          <p>
            Links from Brightlight sent in Spotify will expand to show a preview
            with key properties such as description, status, and assignee for
            issue links and description, status, and target dates for project
            links. Expanded links will include actions when available so that
            members can update issues directly from Spotify.
          </p>

          <p>
            The app offers several types of notifications for Spotify. Enable
            personal notifications so that Inbox notifications also go to
            Spotify. Team and project notifications can be directed to dedicated
            Spotify channels to keep everyone in the company updated regardless
            of whether they have Brightlight accounts.
          </p>

          <h2>Configure</h2>
          <p>
            Brightlight admins can configure this integration in Settings.
            Completing this step enables creating issues from Spotify, message
            actions, and expandable links for every member of the workspace.
          </p>

          <h2>Learn more</h2>
          <p>
            More information about the Spotify integration is available in our <a
              href="#">documentation</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
