---
const { productTitle, features, price, link } = Astro.props;
---

<div
  class='flex flex-col justify-center lg:flex-row shadow-lg dark:shadow-2xl dark:bg-gray-950 rounded-3xl'
>
  <div class='flex flex-col gap-5 justify-center items-center py-16 px-8'>
    <span
      class='text-3xl font-semibold text-sky-800 text-center w-5/6 leading-normal'
      >{productTitle}</span
    >
    <p class='font-bold text-4xl dark:text-white'>{price}</p>
    <!-- <span class='text-sm text-gray-400'>Renews annually</span> -->
    <a
      href={link}
      class='py-2 px-4 bg-accent-950 text-white font-semibold rounded-full text-center w-1/2 shadow-xl hover:bg-slate-600 duration-300'
      >Get</a
    >
  </div>
</div>
