<section
  aria-labelledby="hero"
  id="hero "
  class="relative border-b overflow-hidden">
  <div
    class="relative items-center w-full px-5 pt-24 mx-auto md:px-12 lg:px-12 max-w-7xl lg:pt-32">
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24 overflow-hidden p-8 lg:p-20 pb-0 lg:pb-0">
      <div
        class="relative items-center gap-12 m-auto lg:inline-flex md:order-first pb-12 lg:pb-32">
        <div class="max-w-xl text-center lg:text-left">
          <div>
            <div class="lg:inline-flex items-center gap-3">
              <p
                class="text-accent-500 text-xs font-semibold tracking-wide lg:pl-4 lg:border-l-2 border-accent-500 uppercase">
                Brightlight
              </p>
            </div>
            <p class="text-3xl max-w-xl mt-12 font-normal text-black">
              Brightlight is a an elegant UI KIt for your or digital product
            </p>
            <p class="max-w-2xl mt-4 text-base text-zinc-500">
              An clean design that empowers you to efficiently create pages
              across diverse categories and customize them to your preferences,
              facilitating the construction of a landing page or website within
              hours instead of months.
            </p>

            <div class="flex flex-col sm:flex-row mt-6">
              <a
                href="/overview"
                class="inline-flex items-center justify-center px-6 py-3 text-sm font-normal text-white bg-gray-900 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 duration-200 border-2 border-gray-900 active:bg-gray-900 active:text-black focus-visible:outline-accent-50 hover:border-gray-900 hover:text-accent-400">
                See all pages &nbsp; &nbsp; &rarr;
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="block w-full mt-0 relative overflow-hidden">
        <img
          class="overflow-hidden object-cover lg:absolute object-center w-full mx-auto lg:ml-auto shadow-2xl shadow-black"
          alt="hero"
          src="/assets/phone1.png"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</section>
