<!-- Team Section: Vertical Photos with Asymmetrical Alignment -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div
      class="container mx-auto space-y-16 px-4 py-8 lg:px-8 lg:py-16 xl:max-w-7xl"
    >
       <!-- Heading -->
    <div class="text-center">
        
        <h2 class="mb-2 text-4xl font-black text-black dark:text-white">
            We follow our 
          <span
            class="bg-gradient-to-r text-sky-600 bg-clip-text text-transparent bg-sky-700"
            >Principles </span
          > & 
          <span
            class="bg-gradient-to-r text-emerald-500 bg-emerald-500 bg-clip-text text-transparent"
            > Values</span> without exception
          
        </h2>
        <h3
          class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3"
        >
        Inside View exists because of our consistency and integrity in following our values. It is our spirit that drives our desire to raise the standards
        </h3>
      </div>
      <!-- END Heading -->
  
      <!-- Features -->
      <div class="grid grid-cols-2 gap-4 lg:grid-cols-3 lg:gap-12 xl:gap-16">
        <div class="py-5">
            <div class="aspect-h-3 aspect-w-4 mb-8 ">
              <img
                src="/assets/ourvalues/Passionate-Excellence.jpg"
                class="rounded-lg object-cover"
                alt="Passionate Excellence"
              />
            </div>
            <h4 class="mb-2 text-lg font-bold">Passionate Excellence</h4>
            <p
              class="mb-4 text-sm leading-relaxed text-gray-600 dark:text-gray-400"
            >
            We don't strive for greatness because it's expected of us, we do it because we genuinely love what we do. Every member of our team is driven by a genuine enthusiasm for their work, constantly seeking out new challenges, and opportunities to grow and excel.
            </p>
            
          </div>
        
        <div class="py-5">
          <div class="aspect-h-3 aspect-w-4 mb-8">
            <img
              src="/assets/ourvalues/Accountability.jpg"
              class="rounded-lg object-cover"
              alt="Preview Feature Image"
            />
          </div>
          <h4 class="mb-2 text-lg font-bold">Accountability</h4>
          <p
            class="mb-4 text-sm leading-relaxed text-gray-600 dark:text-gray-400"
          >
          We take ownership of our actions, decisions, and outcomes. It involves holding ourselves and others responsible for meeting commitments, achieving goals, and delivering quality services.
          </p>
          
        </div>
        <div class="py-5">
          <div class="aspect-h-3 aspect-w-4 mb-8">
            <img
              src="/assets/ourvalues/Honesty.jpg"
              class="rounded-lg object-cover"
              alt="Preview Feature Image"
            />
          </div>
          <h4 class="mb-2 text-lg font-bold">Honesty</h4>
          <p
            class="mb-4 text-sm leading-relaxed text-gray-600 dark:text-gray-400"
          >
          Our mojo is to be truthful, transparent, and forthright in all circumstances, even when faced with challenges or adversity. We uphold honesty as a fundamental value, recognizing its power to build trust, foster integrity, and strengthen relationships.
          </p>
          
        </div>
        <div class="py-5">
            <div class="aspect-h-3 aspect-w-4 mb-8">
              <img
                src="/assets/ourvalues/Empathy_3.jpg"
                class="rounded-lg object-cover"
                alt="Preview Feature Image"
              />
            </div>
            <h4 class="mb-2 text-lg font-bold">Empathy</h4>
            <p
              class="mb-4 text-sm leading-relaxed text-gray-600 dark:text-gray-400"
            >
            We practice empathy and understanding towards our customers and the teams we work alongside.
            </p>
            
          </div>
        <div class="py-5">
          <div class="aspect-h-3 aspect-w-4 mb-8">
            <img
              src="/assets/ourvalues/Community.jpg"
              class="rounded-lg object-cover"
              alt="Preview Feature Image"
            />
          </div>
          <h4 class="mb-2 text-lg font-bold">Community</h4>
          <p
            class="mb-4 text-sm leading-relaxed text-gray-600 dark:text-gray-400"
          >
          Community is created when we come together to work for a common cause and make a greater impact than individual contributions.
          </p>
          
        </div>
        <div class="py-5">
          <div class="aspect-h-3 aspect-w-4 mb-8">
            <img
              src="/assets/ourvalues/Unity.jpg"
              class="rounded-lg object-cover"
              alt="Preview Feature Image"
            />
          </div>
          <h4 class="mb-2 text-lg font-bold">Unity</h4>
          <p
            class="mb-4 text-sm leading-relaxed text-gray-600 dark:text-gray-400"
          >
          Our spirit of unity, support, and camaraderie within our team and clients, signify a deep sense of loyalty, collaboration, and mutual respect, where every member is valued and supported in their endeavors. We embrace comradeship as a guiding principle, fostering strong bonds and shared goals that transcend individual interests.
          </p>
          
        </div>
      </div>
      <!-- END Features -->
    </div>
  </div>
  <!-- END Features Section: With Images -->

