---
import BaseLayout from '@/layouts/BaseLayout.astro';
import InCtaOne from '@/components/forms/ContactForm.astro';
---

<BaseLayout>
  <main class='dark:bg-gray-900'>
    <section class='px-4 mx-auto pt-36 container py-8 lg:px-8 xl:max-w-7xl'>
      <section class='flex'>
        <div class='flex flex-col gap-8'>
          <h2 class='font-bold text-3xl'>
            <span class='dark:text-white'>Partners</span>
            <span class='text-sky-600'>Directory</span>
          </h2>
          <p class='font-semibold text-xl dark:text-white'>
            To create great project sometimes we need <br /> partners, we work with
            these companies
          </p>
          <p class='text-gray-400'>
            Over the years we have built a strong relationship of trust with
            other companies <br /> that have the same objective as us. These companies
            are supported mainly by <br /> their employees and customers
          </p>
        </div>
        <div class='flex items-center justify-center flex-1'>
          <img
            src='/public/assets/partners/globes2.png'
            alt='partners hero'
            class='object-cover w-3/6'
          />
        </div>
      </section>
      <section class='grid grid-cols-1 lg:grid-cols-2 gap-10 pt-20'>
        <div
          class='grid lg:grid-cols-2 grid-rows-2 gap-0 shadow-xl rounded-2xl'
        >
          <div class='flex flex-col gap-4 bg-darkBlue p-8 lg:rounded-tl-2xl'>
            <h5 class='text-sky-600 font-semibold text-xl'>
              Mariposa Consulting Group
            </h5>
            <p class='text-gray-300 font-light text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
              eligendi sint voluptatum quis quaerat perferendis ut facilis
              voluptatem ullam, unde atque? Placeat, porro? Earum aliquam nihil
              enim alias maxime delectus.
            </p>
          </div>
          <div
            class='lg:rounded-tr-2xl flex items-center justify-center p-6 dark:bg-white'
          >
            <img
              src='/public/assets/partners/mariposa_logo.png'
              alt='mariposa_consulting_logo'
              class='object-cover'
            />
          </div>
          <div
            class='bg-neutral-800 text-white lg:rounded-bl-2xl flex flex-col justify-center items-center text-sm p-4'
          >
            <span> <strong>Contact:</strong> +01 56289045</span>
            <span><strong>email:</strong> hello@mariposa.com</span>
          </div>
          <div
            class='bg-primaryGreen lg:rounded-br-2xl p-6 flex flex-col gap-4 justify-center items-center'
          >
            <div class='flex justify-between'>
              <span class='text-primaryBlue font-semibold text-2xl'
                >They help us in many ways</span
              >
              <img
                src='/public/assets/partners/energy.jpg'
                class='w-8 h-8 object-cover'
              />
            </div>
            <p class='text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
              aliquid magni aperiam est incidunt id tempore eius natus fugiat
              dicta facilis rem dolor, itaque quae totam explicabo et animi
              doloribus!
            </p>
          </div>
        </div>

        <div
          class='grid lg:grid-cols-2 grid-rows-2 gap-0 shadow-xl rounded-2xl'
        >
          <div class='flex flex-col gap-4 bg-darkBlue p-8 lg:rounded-tl-2xl'>
            <h5 class='text-sky-600 font-semibold text-xl'>Microsoft</h5>
            <p class='text-gray-300 font-light text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
              eligendi sint voluptatum quis quaerat perferendis ut facilis
              voluptatem ullam, unde atque? Placeat, porro? Earum aliquam nihil
              enim alias maxime delectus.
            </p>
          </div>
          <div
            class='lg:rounded-tr-2xl flex items-center justify-center p-6 dark:bg-white'
          >
            <img
              src='/public/assets/partners/microsoft-logo.png'
              alt='microsoft_logo'
              class='object-cover'
            />
          </div>
          <div
            class='bg-neutral-800 text-white lg:rounded-bl-2xl flex flex-col justify-center items-center text-sm p-4'
          >
            <span> <strong>Contact:</strong> +01 56289045</span>
            <span><strong>email:</strong> hello@mariposa.com</span>
          </div>
          <div
            class='bg-primaryGreen lg:rounded-br-2xl p-6 flex flex-col gap-4 justify-center items-center'
          >
            <div class='flex justify-between'>
              <span class='text-primaryBlue font-semibold text-2xl'
                >They help us in many ways</span
              >
              <img
                src='/public/assets/partners/energy.jpg'
                class='w-8 h-8 object-cover'
              />
            </div>
            <p class='text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
              aliquid magni aperiam est incidunt id tempore eius natus fugiat
              dicta facilis rem dolor, itaque quae totam explicabo et animi
              doloribus!
            </p>
          </div>
        </div>

        <div
          class='grid lg:grid-cols-2 grid-rows-2 gap-0 shadow-xl rounded-2xl'
        >
          <div class='flex flex-col gap-4 bg-darkBlue p-8 lg:rounded-tl-2xl'>
            <h5 class='text-sky-600 font-semibold text-xl'>Change Champions</h5>
            <p class='text-gray-300 font-light text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
              eligendi sint voluptatum quis quaerat perferendis ut facilis
              voluptatem ullam, unde atque? Placeat, porro? Earum aliquam nihil
              enim alias maxime delectus.
            </p>
          </div>
          <div
            class='lg:rounded-tr-2xl flex items-center justify-center p-6 dark:bg-white'
          >
            <img
              src='/public/assets/partners/cc_logo.png'
              alt='microsoft_logo'
              class='object-cover'
            />
          </div>
          <div
            class='bg-neutral-800 text-white lg:rounded-bl-2xl flex flex-col justify-center items-center text-sm'
          >
            <span> <strong>Contact:</strong> +01 56289045</span>
            <span><strong>email:</strong> hello@mariposa.com</span>
          </div>
          <div
            class='bg-primaryGreen lg:rounded-br-2xl p-6 flex flex-col gap-4 justify-center items-center'
          >
            <div class='flex justify-between'>
              <span class='text-primaryBlue font-semibold text-2xl'
                >They help us in many ways</span
              >
              <img
                src='/public/assets/partners/energy.jpg'
                class='w-8 h-8 object-cover'
              />
            </div>
            <p class='text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
              aliquid magni aperiam est incidunt id tempore eius natus fugiat
              dicta facilis rem dolor, itaque quae totam explicabo et animi
              doloribus!
            </p>
          </div>
        </div>

        <div
          class='grid lg:grid-cols-2 grid-rows-2 gap-0 shadow-xl rounded-2xl'
        >
          <div class='flex flex-col gap-4 bg-darkBlue p-8 rounded-tl-2xl'>
            <h5 class='text-sky-600 font-semibold text-xl'>Insights</h5>
            <p class='text-gray-300 font-light text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
              eligendi sint voluptatum quis quaerat perferendis ut facilis
              voluptatem ullam, unde atque? Placeat, porro? Earum aliquam nihil
              enim alias maxime delectus.
            </p>
          </div>
          <div
            class='rounded-tr-2xl flex items-center justify-center p-6 dark:bg-white'
          >
            <img
              src='/public/assets/partners/insights-logo.png'
              alt='microsoft_logo'
              class='object-cover'
            />
          </div>
          <div
            class='bg-neutral-800 text-white lg:rounded-bl-2xl flex flex-col justify-center items-center text-sm p-4'
          >
            <span> <strong>Contact:</strong> +01 56289045</span>
            <span><strong>email:</strong> hello@mariposa.com</span>
          </div>
          <div
            class='bg-primaryGreen lg:rounded-br-2xl p-6 flex flex-col gap-4 justify-center items-center'
          >
            <div class='flex justify-between'>
              <span class='text-primaryBlue font-semibold text-2xl'
                >They help us in many ways</span
              >
              <img
                src='/public/assets/partners/energy.jpg'
                class='w-8 h-8 object-cover'
              />
            </div>
            <p class='text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
              aliquid magni aperiam est incidunt id tempore eius natus fugiat
              dicta facilis rem dolor, itaque quae totam explicabo et animi
              doloribus!
            </p>
          </div>
        </div>

        <div
          class='grid lg:grid-cols-2 grid-rows-2 gap-0 shadow-xl rounded-2xl'
        >
          <div class='flex flex-col gap-4 bg-darkBlue p-8 lg:rounded-tl-2xl'>
            <h5 class='text-sky-600 font-semibold text-xl'>ITCloud</h5>
            <p class='text-gray-300 font-light text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
              eligendi sint voluptatum quis quaerat perferendis ut facilis
              voluptatem ullam, unde atque? Placeat, porro? Earum aliquam nihil
              enim alias maxime delectus.
            </p>
          </div>
          <div
            class='lg:rounded-tr-2xl flex items-center justify-center p-6 dark:bg-white'
          >
            <img
              src='/public/assets/partners/it-cloud-logo.svg'
              alt='itcloud_logo'
              class='object-cover'
            />
          </div>
          <div
            class='bg-neutral-800 text-white lg:rounded-bl-2xl flex flex-col justify-center items-center text-sm p-4'
          >
            <span> <strong>Contact:</strong> +01 56289045</span>
            <span><strong>email:</strong> hello@mariposa.com</span>
          </div>
          <div
            class='bg-primaryGreen lg:rounded-br-2xl p-6 flex flex-col gap-4 justify-center items-center'
          >
            <div class='flex justify-between'>
              <span class='text-primaryBlue font-semibold text-2xl'
                >They help us in many ways</span
              >
              <img
                src='/public/assets/partners/energy.jpg'
                class='w-8 h-8 object-cover'
              />
            </div>
            <p class='text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
              aliquid magni aperiam est incidunt id tempore eius natus fugiat
              dicta facilis rem dolor, itaque quae totam explicabo et animi
              doloribus!
            </p>
          </div>
        </div>

        <div
          class='grid lg:grid-cols-2 grid-rows-2 gap-0 shadow-xl rounded-2xl'
        >
          <div class='flex flex-col gap-4 bg-darkBlue p-8 lg:rounded-tl-2xl'>
            <h5 class='text-sky-600 font-semibold text-xl'>
              Northeastern University
            </h5>
            <p class='text-gray-300 font-light text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
              eligendi sint voluptatum quis quaerat perferendis ut facilis
              voluptatem ullam, unde atque? Placeat, porro? Earum aliquam nihil
              enim alias maxime delectus.
            </p>
          </div>
          <div
            class='lg:rounded-tr-2xl flex items-center justify-center p-6 dark:bg-white'
          >
            <img
              src='/public/assets/partners/N-logo.png'
              alt='itcloud_logo'
              class='object-cover'
            />
          </div>
          <div
            class='bg-neutral-800 text-white lg:rounded-bl-2xl flex flex-col justify-center items-center text-sm p-4'
          >
            <span> <strong>Contact:</strong> +01 56289045</span>
            <span><strong>email:</strong> hello@mariposa.com</span>
          </div>
          <div
            class='bg-primaryGreen lg:rounded-br-2xl p-6 flex flex-col gap-4 justify-center items-center'
          >
            <div class='flex justify-between'>
              <span class='text-primaryBlue font-semibold text-2xl'
                >They help us in many ways</span
              >
              <img
                src='/public/assets/partners/energy.jpg'
                class='w-8 h-8 object-cover'
              />
            </div>
            <p class='text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
              aliquid magni aperiam est incidunt id tempore eius natus fugiat
              dicta facilis rem dolor, itaque quae totam explicabo et animi
              doloribus!
            </p>
          </div>
        </div>

        <div
          class='grid lg:grid-cols-2 grid-rows-2 gap-0 shadow-xl rounded-2xl'
        >
          <div class='flex flex-col gap-4 bg-darkBlue p-8 lg:rounded-tl-2xl'>
            <h5 class='text-sky-600 font-semibold text-xl'>Provision Point</h5>
            <p class='text-gray-300 font-light text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
              eligendi sint voluptatum quis quaerat perferendis ut facilis
              voluptatem ullam, unde atque? Placeat, porro? Earum aliquam nihil
              enim alias maxime delectus.
            </p>
          </div>
          <div
            class='lg:rounded-tr-2xl flex items-center justify-center p-6 dark:bg-white'
          >
            <img
              src='/public/assets/partners/provision-point-logo.png'
              alt='provision-point-logo'
              class='object-cover'
            />
          </div>
          <div
            class='bg-neutral-800 text-white lg:rounded-bl-2xl flex flex-col justify-center items-center text-sm p-4'
          >
            <span> <strong>Contact:</strong> +01 56289045</span>
            <span><strong>email:</strong> hello@mariposa.com</span>
          </div>
          <div
            class='bg-primaryGreen lg:rounded-br-2xl p-6 flex flex-col gap-4 justify-center items-center'
          >
            <div class='flex justify-between'>
              <span class='text-primaryBlue font-semibold text-2xl'
                >They help us in many ways</span
              >
              <img
                src='/public/assets/partners/energy.jpg'
                class='w-8 h-8 object-cover'
              />
            </div>
            <p class='text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
              aliquid magni aperiam est incidunt id tempore eius natus fugiat
              dicta facilis rem dolor, itaque quae totam explicabo et animi
              doloribus!
            </p>
          </div>
        </div>

        <div
          class='grid lg:grid-cols-2 grid-rows-2 gap-0 shadow-xl lg:rounded-2xl'
        >
          <div class='flex flex-col gap-4 bg-darkBlue p-8 lg:rounded-tl-2xl'>
            <h5 class='text-sky-600 font-semibold text-xl'>BHC Group</h5>
            <p class='text-gray-300 font-light text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
              eligendi sint voluptatum quis quaerat perferendis ut facilis
              voluptatem ullam, unde atque? Placeat, porro? Earum aliquam nihil
              enim alias maxime delectus.
            </p>
          </div>
          <div
            class='lg:rounded-tr-2xl flex items-center justify-center p-6 dark:bg-white'
          >
            <img
              src='/public/assets/partners/bch_group_logo.png'
              alt='bch_group_logo'
              class='object-cover'
            />
          </div>
          <div
            class='bg-neutral-800 text-white lg:rounded-bl-2xl flex flex-col justify-center items-center text-sm p-4'
          >
            <span> <strong>Contact:</strong> +01 56289045</span>
            <span><strong>email:</strong> hello@mariposa.com</span>
          </div>
          <div
            class='bg-primaryGreen lg:rounded-br-2xl p-6 flex flex-col gap-4 justify-center items-center'
          >
            <div class='flex justify-between'>
              <span class='text-primaryBlue font-semibold text-2xl'
                >They help us in many ways</span
              >
              <img
                src='/public/assets/partners/energy.jpg'
                class='w-8 h-8 object-cover'
              />
            </div>
            <p class='text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
              aliquid magni aperiam est incidunt id tempore eius natus fugiat
              dicta facilis rem dolor, itaque quae totam explicabo et animi
              doloribus!
            </p>
          </div>
        </div>

        <div
          class='grid lg:grid-cols-2 grid-rows-2 gap-0 shadow-xl rounded-2xl'
        >
          <div class='flex flex-col gap-4 bg-darkBlue p-8 lg:rounded-tl-2xl'>
            <h5 class='text-sky-600 font-semibold text-xl'>LT Addins</h5>
            <p class='text-gray-300 font-light text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
              eligendi sint voluptatum quis quaerat perferendis ut facilis
              voluptatem ullam, unde atque? Placeat, porro? Earum aliquam nihil
              enim alias maxime delectus.
            </p>
          </div>
          <div
            class='lg:rounded-tr-2xl flex items-center justify-center p-6 dark:bg-white'
          >
            <img
              src='/public/assets/partners/lt-addins-logo.png'
              alt='lt-addins-logo'
              class='object-cover'
            />
          </div>
          <div
            class='bg-neutral-800 text-white lg:rounded-bl-2xl flex flex-col justify-center items-center text-sm p-4'
          >
            <span> <strong>Contact:</strong> +01 56289045</span>
            <span><strong>email:</strong> hello@mariposa.com</span>
          </div>
          <div
            class='bg-primaryGreen lg:rounded-br-2xl p-6 flex flex-col gap-4 justify-center items-center'
          >
            <div class='flex justify-between'>
              <span class='text-primaryBlue font-semibold text-2xl'
                >They help us in many ways</span
              >
              <img
                src='/public/assets/partners/energy.jpg'
                class='w-8 h-8 object-cover'
              />
            </div>
            <p class='text-sm'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
              aliquid magni aperiam est incidunt id tempore eius natus fugiat
              dicta facilis rem dolor, itaque quae totam explicabo et animi
              doloribus!
            </p>
          </div>
        </div>
      </section>
    </section>

    <InCtaOne />
  </main>

  <!-- <div
      class='bg-transparent pt-36 px-4 mx-auto container py-8 lg:px-8 xl:max-w-7xl'
    >
      <h2 class='text-3xl font-bold dark:text-white lg:text-4xl'>
        Our Partners
      </h2>
      <p class='text-sm text-gray-600 mt-4 lg:w-1/2 lg:text-base'>
        Welcome to our partnerships page! At Inside View Global, we value
        collaborations that drive innovation and achieve great results. Let’s
        create new opportunities and build a successful future together.
      </p>
      <div
        class='flex flex-col flex-wrap gap-16 items-center justify-center mt-20 lg:flex-row'
      >
        <a
          href='https://www.microsoft.com'
          target='_blank'
          class='w-4/6 lg:w-auto'
        >
          <img
            src='/assets/partners/microsoft_logo.png'
            alt='microsoft_logo'
            class='filter grayscale opacity-70 object-cover'
          /></a
        >
        <a
          href='https://changechampionsconsulting.com/'
          class='w-4/6 lg:w-auto'
        >
          <img
            src='/assets/partners/cc_logo.png'
            alt='change champions logo'
            class='filter grayscale object-cover'
          />
        </a>
        <a href='https://www.insights.com/ca/' class='w-4/6 lg:w-auto'>
          <img
            src='/assets/partners/insights_logo.png'
            alt='insights logo'
            class='object-cover'
          /></a
        >
        <a href='https://www.itcloud.ca/en/' class='w-4/6 lg:w-auto'>
          <img
            src='/assets/partners/Logo-ITCloud.png'
            alt='it cloud logo'
            class='filter grayscale object-cover'
          /></a
        >
        <a href='https://ltaddins.com/' class='w-4/6 lg:w-auto'>
          <img
            src='/assets/partners/lt_addin.png'
            alt='lt addin logo'
            class='filter grayscale object-cover'
          /></a
        >
        <a href='https://mariposacg.com/' class='w-4/6 lg:w-auto'
          ><img
            src='/assets/partners/mariposa_logo.png'
            alt='mariposa group logo'
            class='brightness-200 grayscale object-cover'
          /></a
        >
        <a href='https://www.northeastern.edu/' class='w-4/6 lg:w-auto'>
          <img
            src='/assets/partners/N_logo.png'
            alt='northeastern logo'
            class='filter grayscale object-cover'
          /></a
        >
        <a
          href='https://provisionpoint.com/?utm_term=m365%20provisioning&utm_campaign=Simple+PPC&utm_source=adwords&utm_medium=ppc&hsa_acc=7867144076&hsa_cam=21032620493&hsa_grp=162069832307&hsa_ad=691297302680&hsa_src=g&hsa_tgt=kwd-1152663474695&hsa_kw=m365%20provisioning&hsa_mt=b&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjwrp-3BhDgARIsAEWJ6SyfvF_9xGVlM3r7zOVh7DHO2oNeCepA8zMNL6pYSW7J5CJC2Sxc4JYaAvnnEALw_wcB'
          class='w-4/6 lg:w-auto'
        >
          <img
            src='/assets/partners/provision_point_logo.png'
            alt='provision point logo'
            class='object-cover'
          /></a
        >
      </div>
    </div> -->
</BaseLayout>
