<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12">
    <div>
      <p
        class="text-4xl tracking-tight font-medium text-black md:text-7xl font-display">
        Answers to our most <span class="text-accent-500"
          >frequantly asked questions</span
        >
      </p>
    </div>
    <div class="mt-20">
      <dl
        class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10">
        <div>
          <dt class="font-display text-xl leading-7 tracking-tight text-black">
            How does end-to-end encryption work?
          </dt>
          <dd class="mt-2 text-sm leading-7 text-gray-600">
            End-to-end encryption ensures that only the sender and recipient can
            access the content of a message. The information is encrypted on the
            sender's device and can only be decrypted by the intended recipient,
            preventing any intermediaries, including the platform provider, from
            accessing the data.
          </dd>
        </div>
        <div>
          <dt class="font-display text-xl leading-7 tracking-tight text-black">
            Can I use this platform on multiple devices?
          </dt>
          <dd class="mt-2 text-sm leading-7 text-gray-600">
            Yes, you can access our platform on multiple devices. Your encrypted
            data remains synced across all devices, allowing you to seamlessly
            communicate and access your files and messages from anywhere.
          </dd>
        </div>
        <div>
          <dt class="font-display text-xl leading-7 tracking-tight text-black">
            Are there any storage limitations for files and documents?
          </dt>
          <dd class="mt-2 text-sm leading-7 text-gray-600">
            Our platform provides ample storage space for your files and
            documents. However, there may be storage limitations based on the
            pricing plan you choose. We offer flexible plans to suit your needs
            and provide options to upgrade if you require additional storage
            capacity.
          </dd>
        </div>
        <div>
          <dt class="font-display text-xl leading-7 tracking-tight text-black">
            Is it possible to export my data from the platform?
          </dt>
          <dd class="mt-2 text-sm leading-7 text-gray-600">
            Yes, you can export your data from the platform. We offer export
            features that allow you to download your messages, files, and
            documents, ensuring you have a local copy for backup or migration
            purposes. It provides you with greater control and flexibility over
            your data.
          </dd>
        </div>

        <!-- More questions... -->
      </dl>
    </div>
  </div>
</section>
