<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div>
      <p class="text-3xl font-normal tracking-tight text-black font-display">
        Privacy
      </p>
      <p class="text-base mt-4 text-zinc-500 max-w-2xl">Updated on 2024.05.20</p>
    </div>
    <div
      class="prose mt-12 prose-blockquote:border-l-gray-900 prose-a:text-accent-500 hover:prose-a:text-black prose-headings:font-normal prose-headings:text-black prose-li:marker:text-accent-500 text-zinc-500 prose-code:text-black prose-blockquote:text-black/70 max-w-none">
      
      <table class="hidden lg:block">
        <thead>
          <tr>
            <th><strong>Category of personal information</strong></th>
            <th><strong>Purposes of use</strong></th>
            <th><strong>Categories of Third Parties Information</strong></th>
            <th><strong>Categories of Third Parties</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td
              >Contact information (such as your full name, phone number, email
              address)</td
            >
            <td
              >Provide the Services; Communicate with you; Analyze use of and
              improve the services; With your consent; Comply with law or defend
              our legal rights; Security/fraud prevention</td
            >
            <td
              >Affiliated entities; Service providers; Entities for legal
              purposes</td
            >
            <td>We do not share/sell</td>
          </tr>
          <tr>
            <td
              >Customer service interaction information (including optional
              surveys and when you ask for help)</td
            >
            <td
              >Provide the Services; Communicate with you; Analyze use of and
              improve the services; With your consent; Comply with law or defend
              our legal rights; Security/fraud prevention</td
            >
            <td
              >Affiliated entities; Service providers; Entities for legal
              purposes</td
            >
            <td>We do not share/sell</td>
          </tr>
          <tr>
            <td>Product interaction information</td>
            <td
              >Provide the Services; Communicate with you; Analyze use of and
              improve the services; With your consent; Comply with law or defend
              our legal rights; Security/fraud prevention</td
            >
            <td
              >Affiliated entities; Service providers; Entities for legal
              purposes</td
            >
            <td>We do not share/sell</td>
          </tr>
          <tr>
            <td
              >Internet network and device information (such as mobile device
              information, IP address, and information about your interaction
              with the services)</td
            >
            <td
              >Provide the Services; Analyze use of and improve the services;
              With your consent; Comply with law or defend our legal rights;
              Security/fraud prevention</td
            >
            <td
              >Affiliated entities; Service providers; Entities for legal
              purposes;</td
            >
            <td>We do not share/sell</td>
          </tr>
          <tr>
            <td>Login information (such as your username and password)</td>
            <td
              >Provide the Services; Comply with law or defend our legal rights;
              Security/fraud prevention; Comply with law or defend our legal
              rights</td
            >
            <td
              >Affiliated entities; Service providers; Entities for legal
              purposes</td
            >
            <td>We do not share/sell</td>
          </tr>
          <tr>
            <td
              >Professional or employment information (such as the name and
              address of the company you work for and your title)</td
            >
            <td
              >Provide the Services; Communicate with you; Analyze use of and
              improve the services; With your consent; Comply with law or defend
              our legal rights; Security/fraud prevention</td
            >
            <td
              >Affiliated entities; Service providers; Entities for legal
              purposes;</td
            >
            <td>We do not share/sell</td>
          </tr>
          <tr>
            <td
              >Other information (any other information you choose to provide
              directly to us, including optional profile photos)</td
            >
            <td
              >Provide the Services; Communicate with you; Analyze use of and
              improve the services; With your consent; Comply with law or defend
              our legal rights; Security/fraud prevention</td
            >
            <td
              >Affiliated entities; Service providers; Entities for legal
              purposes;</td
            >
            <td>We do not sell/share</td>
          </tr>
        </tbody>
      </table>
      <p>
        For more information about each category of personal information,
        purpose of use, and third parties to which we disclose personal
        information, please see the &quot;What we collect and why,&quot; and
        &quot;When we access or disclose you information&quot; sections of our
        Privacy Policy.
      </p>
      
    </div>
  </div>
</section>
