<section>
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-36">
    <div class="sm:text-center">
      <p
        class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
        Diving into Our Work Landscape
 <span class="md:block text-accent-500"
          >Unleashing the power of collaboration</span
        >
      </p>
      <p class="text-base mt-4 text-zinc-500 sm:mx-auto max-w-md">
        Expand your capabilities, streamline business processes, and enhance your organization productivity
      </p>
    </div>

    <ul
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 mt-12 gap-4 list-none"
      role="list">
      <li>
        <div
          class="rounded-2xl bg-chalk border p-8 h-full flex flex-col justify-between">
          <div>
            <img
              class="h-12 w-12"
              src="/assets/solutions/check.svg"
              alt=""
            />
            <p
              class="font-display text-xl leading-7 mt-12 tracking-tight text-black">
              Discovery Insights
            </p>
            <p class="mt-2 text-zinc-500 text-sm">
              Workshops to understand your priorities and needs. We have compiled a list of workshops under a fixed-rate engagement to create a current state definition.
            </p>
          </div>

          <div class="mt-12">
            <a
              href="/solutions/discovery"
              class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
              >Connect &nbsp; &rarr;</a
            >
          </div>
        </div>
      </li>
      <li>
        <div
          class="rounded-2xl bg-chalk border p-8 h-full flex flex-col justify-between">
          <div>
            <img
              class="h-12 w-12"
              src="/assets/integrations/stripe.svg"
              alt=""
            />
            <p
              class="font-display text-xl leading-7 mt-12 tracking-tight text-black">
              Stripe
            </p>
            <p class="mt-2 text-zinc-500 text-sm">
              Accept payments and scale faster.
            </p>
          </div>

          <div class="mt-12">
            <a
              href="/integrations/details"
              class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
              >Connect &nbsp; &rarr;</a
            >
          </div>
        </div>
      </li>
      <li>
        <div
          class="rounded-2xl bg-chalk border p-8 h-full flex flex-col justify-between">
          <div>
            <img
              class="h-12 w-12"
              src="/assets/integrations/chrome.svg"
              alt=""
            />
            <p
              class="font-display text-xl leading-7 mt-12 tracking-tight text-black">
              Chrome
            </p>
            <p class="mt-2 text-zinc-500 text-sm">
              Start recording your screen and camera easily.
            </p>
          </div>

          <div class="mt-12">
            <a
              href="/integrations/details"
              class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
              >Connect &nbsp; &rarr;</a
            >
          </div>
        </div>
      </li>
      <li>
        <div
          class="rounded-2xl bg-chalk border p-8 h-full flex flex-col justify-between">
          <div>
            <img class="h-12 w-12" src="/assets/integrations/loom.svg" alt="" />
            <p
              class="font-display text-xl leading-7 mt-12 tracking-tight text-black">
              Loom
            </p>
            <p class="mt-2 text-zinc-500 text-sm">
              Chrome brings you the best of Google.
            </p>
          </div>

          <div class="mt-12">
            <a
              href="/integrations/details"
              class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
              >Connect &nbsp; &rarr;</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
