<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div>
      <p
        class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
        Safeguard your workspace with essential
        <span class="lg:block text-accent-500">
          applications for end-to-end encryption.
        </span>
      </p>
    </div>

    <ul
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 mt-12 gap-8 list-none"
      role="list">
      <li>
        <p class="font-display text-xl leading-7 tracking-tight text-black">
          End-to-end encryption
        </p>

        <p class="text-sm text-zinc-500 mt-4">
          Benefit from advanced cryptography that ensures your data remains
          inaccessible.
        </p>
      </li><li>
        <p class="font-display text-xl leading-7 tracking-tight text-black">
          No trackers or ads
        </p>

        <p class="text-sm text-zinc-500 mt-4">
          Rest assured that your data is never traded, shared, or utilized.
        </p>
      </li><li>
        <p class="font-display text-xl leading-7 tracking-tight text-black">
          Open-source and audited
        </p>

        <p class="text-sm text-zinc-500 mt-4">
          Brightlight operates on open-source principles, employing open-source.
        </p>
      </li><li>
        <p class="font-display text-xl leading-7 tracking-tight text-black">
          User-controlled encryption
        </p>

        <p class="text-sm text-zinc-500 mt-4">
          Brightlight empowers users by allowing them to maintain control over
          their encryption keys.
        </p>
      </li>
    </ul>
    <div class="max-w-7xl mx-auto pb-12">
      <div
        class="relative items-center w-full mt-12 lg:mt-24 rounded-2xl bg-white overflow-hidden"
        style="">
        <img
          class="w-full rounded-lg object-cover"
          src="/assets/dashboardDouble.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
