<section>
    <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12">
<div
        class="grid grid-cols-1 mt-12 lg:grid-cols-2 lg:mt-24 items-start gap-12">
    <div class="mt-12 lg:mt-0 w-full lg:order-first">
        <div class="flex flex-col gap-8 lg:flex-row lg:flex-wrap">
            <div
                    class="lg:mt-0 mt-12 h-full hidden lg:block rounded-2xl overflow-hidden border">
                <img
                        alt="Lexingtøn thumbnail"
                        class="w-full bg-chalk"
                        src="/assets/pexels-mizuno-k-12902857.webp"
                />
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-3xl font-normal text-black font-display">
            How InsideView works
        </h2>

        <ul class="mt-12 list-none space-y-10" role="list">
            <li>
                <p class="font-display text-xl leading-7 tracking-tight text-black">
                    01. Strengths
                </p>
                <p class="text-sm text-zinc-500 mt-4">
                    Expertise & Quality
                </p>
            </li>
            <li>
                <p class="font-display text-xl leading-7 tracking-tight text-black">
                    02. Values
                </p>
                <p class="text-sm text-zinc-500 mt-4">
                    Championing Ethical Excellence
                </p>
            </li>
            <li>
                <p class="font-display text-xl leading-7 tracking-tight text-black">
                    03. Dynamic
                </p>
                <p class="text-sm text-zinc-500 mt-4">
                    Synergistic Team Integration
                </p>
            </li>
            <li>
                <p class="font-display text-xl leading-7 tracking-tight text-black">
                    04. Approach
                </p>
                <p class="text-sm text-zinc-500 mt-4">
                    Gather insight, Agree upon, execute, navigate
                </p>
            </li>
        </ul>
    </div>
</div>
    </div>
</section>