<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div class="-mx-6 grid grid-cols-2 gap-0.5 sm:mx-0 md:grid-cols-3">
      <div class="bg-chalk p-6 sm:p-10 rounded-2xl border">
        <img
          class="max-h-12 w-full object-contain"
          src="/assets/brands/Attentive.svg"
          alt="attentive-icon"
          width="158px"
          height="48px"
        />
      </div>
      <div class="bg-chalk p-6 sm:p-10 rounded-2xl border">
        <img
          class="max-h-12 w-full object-contain"
          src="/assets/brands/Afterpay.svg"
          alt="afterpay-icon"
          width="158px"
          height="48px"
        />
      </div>
      <div class="bg-chalk p-6 sm:p-10 rounded-2xl border">
        <img
          class="max-h-12 w-full object-contain"
          src="/assets/brands/Coinbase.svg"
          alt="coinbase-icon"
          width="158px"
          height="48px"
        />
      </div>
      <div class="bg-chalk p-6 sm:p-10 rounded-2xl border">
        <img
          class="max-h-12 w-full object-contain"
          src="/assets/brands/Figma.svg"
          alt="figma-icon"
          width="158px"
          height="48px"
        />
      </div>
      <div class="bg-chalk p-6 sm:p-10 rounded-2xl border">
        <img
          class="max-h-12 w-full object-contain"
          src="/assets/brands/Zoom.svg"
          alt="zoom-icon"
          width="158px"
          height="48px"
        />
      </div>
      <div class="bg-chalk p-6 sm:p-10 rounded-2xl border">
        <img
          class="max-h-12 w-full object-contain"
          src="/assets/brands/Sonos.svg"
          alt="sonos-icon"
          width="158px"
          height="48px"
        />
      </div>
    </div>
  </div>
</section>
