<sectio>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-24">
    <div class="items-center">
      <div class="border-b border-zinc-300 pb-5">
        <h3 class="text-base font-semibold leading-6 text-accent-500">
          Oru investors
        </h3>
      </div>

      <div class="grid grid-cols-3 gap-8 md:grid-cols-6 lg:gap-y-24 mt-12">
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Afterpay.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img
            class="max-h-12"
            src="/assets/brands/Attentive.svg"
            alt=" logo"
          />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Coinbase.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Figma.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Sonos.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Zoom.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Darkly.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Uber.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Plaid.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Docusign.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Github.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1">
          <img class="max-h-12" src="/assets/brands/Dribbble.svg" alt=" logo" />
        </div>
      </div>
    </div>
  </div>
</sectio>
