<section aria-labelledby="blogone" id="blogone">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-36 relative">
    <div class="max-w-2xl">
      <div>
        <span
          class="text-accent-500 text-xs font-semibold tracking-wide lg:pl-4 lg:border-l-2 border-accent-500 uppercase"
          >Blog Entries 1</span
        ><p class="text-3xl mt-8 font-normal text-black">
          Brightlight seal: <span class="lg:block">The brightlight blog</span>
        </p>
      </div>
    </div>
    <div class="py-24">
      <ol
        class="grid grid-cols-1 gap-x-8 gap-y-12 lg:gap-y-24 lg:grid-cols-3 sm:grid-cols-2"
        role="list">
        <li class="group">
          <a href="/blog-post-one">
            <div
              class="flex items-end justify-center overflow-hidden rounded-3xl">
              <div class="flex">
                <img
                  alt="#"
                  class="duration-300 aspect-[4/4] object-cover rounded-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/41719/screenshots/17640574/media/c7780e2192ead4f54a591d657f696e19.jpg?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <p class="mt-8">
              <time class="text-xs text-zinc-500" datetime="2023-03-16"
                >March 16, 2023</time
              >
            </p>
            <h3 class="mt-5 text-lg font-medium leading-6 text-black">
              Fifo uglify terminal
            </h3>
            <p class="mt-2 text-base text-zinc-500 line-clamp-3">
              Protected LLVM variable resolve ping looks good to me LIFO JVM
              brownfield senior. Fault tolerant terminal senior linker S3 blog
              TL asynchronous shadow DOM RSS feed. Transpile cross-post
              maintainable junior programmer JQuery Byzantine fault tolerance
              keycaps. Stateless engineer promise command-line FIFO uglify.
            </p></a
          >
        </li>
        <li class="group">
          <a href="/blog-post-one">
            <div
              class="flex items-end justify-center overflow-hidden rounded-3xl">
              <div class="flex">
                <img
                  alt="#"
                  class="duration-300 aspect-[4/4] object-cover rounded-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/41719/screenshots/14984869/media/61eec0fce648d360f42b088fc8b9de8f.jpg?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <p class="mt-8">
              <time class="text-xs text-zinc-500" datetime="2023-03-16"
                >March 16, 2023</time
              >
            </p>
            <h3 class="mt-5 text-lg font-medium leading-6 text-black">
              Spaghetti Code
            </h3>
            <p class="mt-2 text-base text-zinc-500 line-clamp-3">
              DAG behavior-driven elixir .NET RPC imagemagick. Behavior-driven
              frame rate perf matters dynamic composition Github FIFO. Tree
              shaking spaghetti code first in first out OOP scale dynamic.
              Shareware Linux Twitter queue bike-shedding Firefox dog-piling.
            </p></a
          >
        </li>
        <li class="group">
          <a href="/blog-post-one">
            <div
              class="flex items-end justify-center overflow-hidden rounded-3xl">
              <div class="flex">
                <img
                  alt="#"
                  class="duration-300 aspect-[4/4] object-cover rounded-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/257123/screenshots/13967127/media/20ea6c404c5787a1dca1180abd01905b.png?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <p class="mt-8">
              <time class="text-xs text-zinc-500" datetime="2023-03-16"
                >March 16, 2023</time
              >
            </p>
            <h3 class="mt-5 text-lg font-medium leading-6 text-black">
              Ada Lovelace
            </h3>
            <p class="mt-2 text-base text-zinc-500 line-clamp-3">
              Attributes +1 AWS responsive elixir linked list presenter. Rm -rf
              * pairing npm yarn minification Github protected controller
              stateless Ada Lovelace. Uglify reactive lazy load little Bobby
              Tables dog-piling bootcamp. MacBook consensus Cloudfront CS degree
              distributed systems .NET +1 lang developer. Stand-up killer app
              fullstack bootcamp callback hell maintainable pattern LGTM.
            </p></a
          >
        </li>
        <li class="group">
          <a href="/blog-post-one">
            <div
              class="flex items-end justify-center overflow-hidden rounded-3xl">
              <div class="flex">
                <img
                  alt="#"
                  class="duration-300 aspect-[4/4] object-cover rounded-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/2624910/screenshots/14903302/media/a4ab175e7dae9163ebb89d3302ed667e.png?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <p class="mt-8">
              <time class="text-xs text-zinc-500" datetime="2023-03-16"
                >January 1, 2023</time
              >
            </p>
            <h3 class="mt-5 text-lg font-medium leading-6 text-black">
              Setting Intentions
            </h3>
            <p class="mt-2 text-base text-zinc-500 line-clamp-3">
              As we welcome in the new year, it's important to take a moment to
              reflect on the past and set intentions for the future. Whether
              it's a resolution to exercise more, eat healthier, or focus on
              personal growth, setting goals can help us stay motivated and on
              track. Let's make 2023 a year of progress and self-improvement!
            </p></a
          >
        </li>
        <li class="group">
          <a href="/blog-post-one">
            <div
              class="flex items-end justify-center overflow-hidden rounded-3xl">
              <div class="flex">
                <img
                  alt="#"
                  class="duration-300 aspect-[4/4] object-cover rounded-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/3433075/screenshots/16259287/media/5b16601e4851e8a618e144e653df8ee7.jpg?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <div class="px-6">
              <p class="mt-8">
                <time class="text-xs text-zinc-500" datetime="2023-03-16"
                  >March 16, 2023</time
                >
              </p>
              <h3 class="mt-5 text-lg font-medium leading-6 text-black">
                Spaghetti Code
              </h3>
              <p class="mt-2 text-base text-zinc-500 line-clamp-3">
                DAG behavior-driven elixir .NET RPC imagemagick. Behavior-driven
                frame rate perf matters dynamic composition Github FIFO. Tree
                shaking spaghetti code first in first out OOP scale dynamic.
                Shareware Linux Twitter queue bike-shedding Firefox dog-piling.
              </p>
            </div></a
          >
        </li>
        <li class="group">
          <a href="/blog-post-one">
            <div
              class="flex items-end justify-center overflow-hidden rounded-3xl">
              <div class="flex">
                <img
                  alt="#"
                  class="duration-300 aspect-[4/4] object-cover rounded-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/257123/screenshots/15302191/media/dc4a33c89b3f651e3b8b57a425acf370.png?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <p class="mt-8">
              <time class="text-xs text-zinc-500" datetime="2023-03-16"
                >March 16, 2023</time
              >
            </p>
            <h3 class="mt-5 text-lg font-medium leading-6 text-black">
              Ada Lovelace
            </h3>
            <p class="mt-2 text-base text-zinc-500 line-clamp-3">
              Attributes +1 AWS responsive elixir linked list presenter. Rm -rf
              * pairing npm yarn minification Github protected controller
              stateless Ada Lovelace. Uglify reactive lazy load little Bobby
              Tables dog-piling bootcamp. MacBook consensus Cloudfront CS degree
              distributed systems .NET +1 lang developer. Stand-up killer app
              fullstack bootcamp callback hell maintainable pattern LGTM.
            </p></a
          >
        </li>
      </ol>
    </div>
  </div>
</section>
