<section aria-labelledby="cta" id="cta " class="relative overflow-hidden">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-36 relative">
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24 bg-zinc-100 rounded-3xl overflow-hidden p-4 lg:p-20">
      <div
        class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
        <div class="max-w-xl text-center lg:text-left">
          <div>
            <div class="lg:inline-flex items-center gap-3">
              <p
                class="text-accent-500 text-xs font-semibold tracking-wide lg:pl-4 lg:border-l-2 border-accent-500 uppercase">
                Blog 2
              </p>
            </div>
            <p class="text-2xl mt-12 font-normal tracking-tight text-black">
              The Future of Digital Banking: How SaaS is Changing the Game
            </p>
            <p class="max-w-2xl mt-4 text-sm text-zinc-600 line-clamp-2">
              As technology continues to advance, the banking industry is also
              undergoing a digital transformation. SaaS solutions are becoming
              increasingly popular among financial institutions, offering more
              efficient and secure ways to manage and process financial
              transactions. With the rise of SaaS in banking, we can expect to
              see more personalized and convenient banking experiences in the
              near future.
            </p>
            <div class="flex flex-col sm:flex-row mt-12">
              <a
                href="/blog-post-two"
                class="inline-flex items-center justify-center px-6 py-3 text-sm font-normal text-white bg-gray-900 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 duration-200 border-2 border-gray-900 active:bg-gray-900 active:text-black focus-visible:outline-accent-50 hover:border-gray-900 hover:text-accent-400">
                Read more &nbsp;&nbsp; &rarr;
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="order-first block w-full mt-0 relative">
        <img
          class="object-cover lg:absolute object-center w-full mx-auto lg:ml-auto"
          alt="hero"
          src="/assets/phone1.png"
        />
      </div>
    </div>
  </div>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative">
    <ol
      class="grid grid-cols-1 gap-x-8 lg:gap-x-24 gap-y-12 lg:gap-y-24 lg:grid-cols-1 sm:grid-cols-2"
      role="list">
      <li>
        <div
          class="grid grid-cols-1 lg:grid-cols-3 lg:gap-24 gap-6 justify-between">
          <div
            class="flex items-end justify-center overflow-hidden rounded-3xl lg:col-span-2">
            <div class="flex">
              <img
                alt="#"
                class="aspect-[2/1] object-cover rounded-2xl lg:w-full"
                loading="lazy"
                src="https://cdn.dribbble.com/users/41719/screenshots/14984869/media/61eec0fce648d360f42b088fc8b9de8f.jpg?compress=1&resize=1600x1200&vertical=top"
                width="560"
              />
            </div>
          </div>
          <div>
            <p class="mt-8">
              <time class="text-xs text-zinc-500" datetime="2023-03-16"
                >March 16, 2023 / Finance</time
              >
            </p>
            <h3
              class="mt-5 text-lg font-medium leading-6 text-black lg:text-2xl">
              Spaghetti Code
            </h3>
            <p class="mt-2 text-base text-zinc-500 line-clamp-4">
              DAG behavior-driven elixir .NET RPC imagemagick. Behavior-driven
              frame rate perf matters dynamic composition Github FIFO. Tree
              shaking spaghetti code first in first out OOP scale dynamic.
              Shareware Linux Twitter queue bike-shedding Firefox dog-piling.
            </p>
            <div class="flex flex-col sm:flex-row mt-12">
              <a
                href="/blog-post-two"
                class="inline-flex items-center justify-center px-6 py-3 text-sm font-normal text-white bg-gray-900 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 duration-200 border-2 border-gray-900 active:bg-gray-900 active:text-black focus-visible:outline-accent-50 hover:border-gray-900 hover:text-accent-400">
                Read more &nbsp;&nbsp; &rarr;
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div
          class="grid grid-cols-1 lg:grid-cols-3 lg:gap-24 gap-6 justify-between">
          <div
            class="flex items-end justify-center overflow-hidden rounded-3xl lg:col-span-2">
            <div class="flex">
              <img
                alt="#"
                class="aspect-[2/1] object-cover rounded-2xl lg:w-full"
                loading="lazy"
                src="https://cdn.dribbble.com/users/257123/screenshots/13967127/media/20ea6c404c5787a1dca1180abd01905b.png?compress=1&resize=1600x1200&vertical=top"
                width="560"
              />
            </div>
          </div>
          <div class="lg:order-first">
            <p class="mt-8">
              <time class="text-xs text-zinc-500" datetime="2023-03-16"
                >March 16, 2023 / Finance</time
              >
            </p>
            <h3
              class="mt-5 text-lg font-medium leading-6 text-black lg:text-2xl">
              Ada Lovelace
            </h3>
            <p class="mt-2 text-base text-zinc-500 line-clamp-4">
              Attributes +1 AWS responsive elixir linked list presenter. Rm -rf
              * pairing npm yarn minification Github protected controller
              stateless Ada Lovelace. Uglify reactive lazy load little Bobby
              Tables dog-piling bootcamp. MacBook consensus Cloudfront CS degree
              distributed systems .NET +1 lang developer. Stand-up killer app
              fullstack bootcamp callback hell maintainable pattern LGTM.
            </p>
            <div class="flex flex-col sm:flex-row mt-12">
              <a
                href="/blog-post-two"
                class="inline-flex items-center justify-center px-6 py-3 text-sm font-normal text-white bg-gray-900 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 duration-200 border-2 border-gray-900 active:bg-gray-900 active:text-black focus-visible:outline-accent-50 hover:border-gray-900 hover:text-accent-400">
                Read more &nbsp;&nbsp; &rarr;
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div
          class="grid grid-cols-1 lg:grid-cols-3 lg:gap-24 gap-6 justify-between">
          <div
            class="flex items-end justify-center overflow-hidden rounded-3xl lg:col-span-2">
            <div class="flex">
              <img
                alt="#"
                class="aspect-[2/1] object-cover rounded-2xl lg:w-full"
                loading="lazy"
                src="https://cdn.dribbble.com/users/257123/screenshots/15302191/media/dc4a33c89b3f651e3b8b57a425acf370.png?compress=1&resize=1600x1200&vertical=top"
                width="560"
              />
            </div>
          </div>
          <div>
            <p class="mt-8">
              <time class="text-xs text-zinc-500" datetime="2023-03-16"
                >March 16, 2023 / Finance</time
              >
            </p>
            <h3
              class="mt-5 text-lg font-medium leading-6 text-black lg:text-2xl">
              Ada Lovelace
            </h3>
            <p class="mt-2 text-base text-zinc-500 line-clamp-4">
              Attributes +1 AWS responsive elixir linked list presenter. Rm -rf
              * pairing npm yarn minification Github protected controller
              stateless Ada Lovelace. Uglify reactive lazy load little Bobby
              Tables dog-piling bootcamp. MacBook consensus Cloudfront CS degree
              distributed systems .NET +1 lang developer. Stand-up killer app
              fullstack bootcamp callback hell maintainable pattern LGTM.
            </p>
            <div class="flex flex-col sm:flex-row mt-12">
              <a
                href="/blog-post-two"
                class="inline-flex items-center justify-center px-6 py-3 text-sm font-normal text-white bg-gray-900 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 duration-200 border-2 border-gray-900 active:bg-gray-900 active:text-black focus-visible:outline-accent-50 hover:border-gray-900 hover:text-accent-400">
                Read more &nbsp;&nbsp; &rarr;
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div
          class="grid grid-cols-1 lg:grid-cols-3 lg:gap-24 gap-6 justify-between">
          <div
            class="flex items-end justify-center overflow-hidden rounded-3xl lg:col-span-2">
            <div class="flex">
              <img
                alt="#"
                class="aspect-[2/1] object-cover rounded-2xl lg:w-full"
                loading="lazy"
                src="https://cdn.dribbble.com/users/41719/screenshots/17640574/media/c7780e2192ead4f54a591d657f696e19.jpg?compress=1&resize=1600x1200&vertical=top"
                width="560"
              />
            </div>
          </div>
          <div class="lg:order-first">
            <p class="mt-8">
              <time class="text-xs text-zinc-500" datetime="2023-03-16"
                >March 16, 2023 / Finance</time
              >
            </p>
            <h3
              class="mt-5 text-lg font-medium leading-6 text-black lg:text-2xl">
              Fifo uglify terminal
            </h3>
            <p class="mt-2 text-base text-zinc-500 line-clamp-4">
              Protected LLVM variable resolve ping looks good to me LIFO JVM
              brownfield senior. Fault tolerant terminal senior linker S3 blog
              TL asynchronous shadow DOM RSS feed. Transpile cross-post
              maintainable junior programmer JQuery Byzantine fault tolerance
              keycaps. Stateless engineer promise command-line FIFO uglify.
            </p>
            <div class="flex flex-col sm:flex-row mt-12">
              <a
                href="/blog-post-two"
                class="inline-flex items-center justify-center px-6 py-3 text-sm font-normal text-white bg-gray-900 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 duration-200 border-2 border-gray-900 active:bg-gray-900 active:text-black focus-visible:outline-accent-50 hover:border-gray-900 hover:text-accent-400">
                Read more &nbsp;&nbsp; &rarr;
              </a>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
