<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div class="justify-center max-w-3xl">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-6xl font-display">
          Overview
        </p>
      </div>
    </div>
    <div class="gap-12 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3">
      <div class="mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-display">Landing Pages</p><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/"
            >Landing Page One
          </a><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/landingpages/index-two">Landing Page Two</a
          >
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/landingpages/index-three">Landing Page Three</a
          >
          <p class="text-black font-display mt-12">Help Center</p>
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/helpcenter/home"
            >Home
          </a>
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/helpcenter/category"
            >Category
          </a>
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/helpcenter/details"
            >Details
          </a>
        </div>
      </div>
      <div class="mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-display">Pricing Pages</p><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/pricingpages/pricing-one"
            >Pricing Page One
          </a><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/pricingpages/pricing-two"
            >Pricing Page Two
          </a><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/pricingpages/pricing-three">Pricing Page Three</a
          >
          <p class="text-black font-display mt-12">Blog Pages</p><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/blog/blog">Blog home One</a
          >
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/blog/blog-two">Blog home Two</a
          >
          <a class="text-sm text-zinc-500 hover:text-black mt-2" href="/posts/1"
            >Blog Post
          </a>
          <a class="text-sm text-zinc-500 hover:text-black mt-2" href="/tags"
            >Tag index</a
          >
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/tags/e-commerce">Tag slug</a
          >
          <a class="text-sm text-zinc-500 hover:text-black mt-2" href="/rss.xml"
            >RSS</a
          >
        </div>
      </div>
      <div class="mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-display">Utility Pages</p>
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/infopages/about"
            >About
          </a>
           <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/infopages/status"
            >Status
          </a>
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/infopages/changelog"
            >Changelog
          </a><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/infopages/terms"
            >Terms Of use
          </a><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/infopages/privacy"
            >Privacy Policy
          </a>
          <a class="text-sm text-zinc-500 hover:text-black mt-2" href="/404"
            >404</a
          >
          <p class="text-black font-display mt-12">All sections</p><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/components/all-features">All feature sections</a
          >
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/components/all-pricing"
            >All pricing
          </a>
        </div>
      </div>
      <div class="mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-display">Forms Pages</p><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/forms/contact"
            >Contact
          </a><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/forms/signin"
            >Signin
          </a><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/forms/signup"
            >Sign up
          </a><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/forms/forgot">Forgot Password</a
          >
          <p class="text-black font-display mt-12">Integrations</p>
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/integrations/home"
            >Home
          </a>
           <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/integrations/details"
            >Details
          </a>
        </div>
      </div>
      <div class="mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-display">System Pages</p><a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="/system/styleguide">Style Guide</a
          >
          <a
            class="text-sm text-zinc-500 hover:text-black mt-2"
            href="https://lexingtonthemes.com/license.html">License</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
