<!-- Alerts: Simple -->
<div
      class="container mx-auto space-y-3 px-4 lg:px-8 xl:max-w-7xl text-left justify-center"
    >
  <h1 class="text-sky-800 dark:text-gray-200 text-4xl pt-10 pb-5">Contact us </h1>
    <div class="text-gray-800 dark:text-sky-400 text-base ">Based in Vancouver, we work with companies of any size and location, regardless of project scope. Let's connect and discuss about your project, a call can make the difference.</div>
</div>
<!-- END Alerts: Simple -->
